

 <!DOCTYPE html>

<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

                <style>
        html, body {
  max-width: 100%;
  overflow-x: hidden;
}

a:link, a:visited {
    color: white;
    background-color: #228B22;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #228B22;
    text-decoration: none;
    text-align: center;
    font: 10px Arial, sans-serif;
}
a:hover, a:active {
    background-color: #9c6ae1;
    border-color: #7443b6;
}


#footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 20px;
    width: 100%;
    background: #1abc9c;
}

       a[disabled] {
   pointer-events: none;
   cursor: default;
}





        </style>

    </head>
    <body>

            <header id="main-header" class="py-2 bg-dark text-white"  >
                    <div class="wrapper container">


                      <div class="row"  >
                        <div class="col-md-12 text-center">
                            <img src="https://i.ibb.co/5KBRsDm/photo-1552072092-7f9b8d63efcb.jpg" alt="logo" border="0" width="230px" height="230px"  align="left" >
                          <h1 style="padding-top:15px"><i class="fa fa-gear"></i> UFC Fights Predictor</h1>
                        </div>
                      </div>

                    </div>
                  </header>


<div class="row justify-content-center">
                                       <div class="col-md-7 ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        <li><a  href="index2"><strong><h1>Home</h1></strong> </a></li>

        <li><a  href="dataset"><strong><h1>Select Fight To Predict Result</h1></strong> </a></li>

        <li><a  href="feature_selection" ><strong><h1>Results</h1></strong> </a></li>
    </ul>

  </div>
</nav>
                    </div></div>

            </br></br>

            <div class="row justify-content-center">
                    <div class="col-md-10 ">
                        <h3>Welcome {{ name }}
</h3>
                        <h1 align="center">UFC Fights Predictor</h1>
                        </br></br>
                        <p style="font-size:120%; text-align: justify; text-justify: inter-word;">

                            <img src="https://i.ibb.co/5KBRsDm/photo-1552072092-7f9b8d63efcb.jpg" alt="logo" border="0" width="230px" height="230px"  align="left" >
The Ultimate Fighting Championship (UFC) is an American mixed martial arts (MMA) promotion company based in Las Vegas, Nevada, which is owned and operated by Zuffa, LLC, a wholly owned subsidiary of Endeavor Group Holdings.[3][4][5] It is the largest MMA promotion company in the world and features some of the highest-level fighters in the sport on its roster.[6] The UFC produces events worldwide that showcase twelve weight divisions (eight men's divisions and four women's divisions) and abides by the Unified Rules of Mixed Martial Arts.[7] As of 2020, the UFC has held over 500 events. Dana White has been UFC president since 2001. Under White's stewardship, the UFC has grown into a globally popular multi-billion-dollar enterprise.[8]
                        </p>

                    </div></div>
            </br></br>


<!--<div class="row justify-content-center">-->
<!--                    <div class="col-md-10 ">-->
<!--            <table class="table table-striped">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th scope="col">#</th>-->
<!--      <th scope="col">First</th>-->
<!--      <th scope="col">Last</th>-->
<!--      <th scope="col">Handle</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <th scope="row">1</th>-->
<!--      <td>Mark</td>-->
<!--      <td>Otto</td>-->
<!--      <td>@mdo</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">2</th>-->
<!--      <td>Jacob</td>-->
<!--      <td>Thornton</td>-->
<!--      <td>@fat</td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th scope="row">3</th>-->
<!--      <td>Larry</td>-->
<!--      <td>the Bird</td>-->
<!--      <td>@twitter</td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->
<!--                    </div></div>-->

    <!-- Default form login -->

</br></br>

    <footer  style="text-align: center;">
            <hr>
            <p>&copy; 2021 UFC Fights Predictor, Inc.</p>
    </footer>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="" async defer></script>
    </body>
</html>





















